html{
    height: 100%;
}

p{
    text-align: center;
}

body{
    margin: 0;
    font-family: 'Common Pixel', sans-serif;
    background-color: lightskyblue;
}

#FlexContainer{
    display: flex;
    flex-direction: row;
    margin: auto 0;
    justify-content: center;
    gap: 100px;
}

.userInputBox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
}

.header,
.footer{
    display: flex;
    background-color: aqua;
    justify-content: space-between;
    padding: 20px 10px;
    color: rgb(49 134 148);
}

.gridContainer{
    border-color: black;
    border-style: solid;
}

.headerContent{
    margin: auto 0px;
    font-size: 60px;
}

.box{
    background-color: white;
}

.box:hover{
    background-color: black;
}

.userInput{
    width: 100%;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  #sizeOption{
    transition: scale 0.5s;
  }

  #sizeOption:hover{
    scale: 120%;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  #biggerContainer{
    height: 980px;

  }

  #rainbowMode{
    display: flex;
    background-color: #303531;
    justify-content: center;
    height: 70px;
    color: ivory;
    align-items: center;
    transition: scale .5s;

  }

  #rainbowMode:hover{
    cursor: pointer;
    scale: 120%;
  }

.footerContent{
    font-family: serif
}

.footer{
    padding: 10px 10px;
}

#rainbowModeBlack{
    display: flex;
    background-color: #303531;
    justify-content: center;
    height: 70px;
    color: rgb(170, 170, 148);
    align-items: center;
    transition: scale .5s;

  }

  #rainbowModeBlack:hover{
    cursor: pointer;
    background-color: #181a19;
    scale: 120%;
  }
  